header{
    background-color: greenyellow;
}
#dls-logo{
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-family: bebas neue ;
}
#regist{
    background-color: chocolate;
    text-align: center;
}
.btn{
    background-color: chartreuse;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}